@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn{
    font-size: .8rem;
    font-weight: 700;
}
.btn i{
    vertical-align:text-top ;
}
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.divider-container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}
.divider{
    margin: 2rem 0;
}

.btn-outline-custom{
    color: #31374a;
    border-color: #ddd;
}
.btn-outline-custom:hover{
    color: #31374a;
    border-color: #eee;
    background-color: #eee;
}